<div class="container">
	<div class="row">
		<div class="col-sm-12">
			<h1 class="text-center" style="font-size: 55px">
				{{ title }}
			</h1>
			<h3>
				Testing (App component)
			</h3>
			<hr>

			
			<app-user>
			</app-user>
		</div>
	</div>
</div>


<div class="container">
	<div class="row">
		<div class="col-sm-12">
			<hr>
			<h3>
				Data Binding
			</h3>

			
			<app-data-binding>
			</app-data-binding>
			<hr>
		</div>
	</div>
</div>

<div class="container">
	<div class="row">
		<div class="col-sm-12">
			<hr>
			<h3>
				Property Binding
			</h3>

			
			<app-property-binding>
			</app-property-binding>
			<hr>
		</div>
	</div>
</div>

<div class="container">
	<div class="row">
		<div class="col-sm-12">
			<hr>
			<h3>
				Event Binding
			</h3>

			
			<app-event-binding>
			</app-event-binding>
			<hr>
		</div>
	</div>
</div>